In [1]:
# the usual suspects...
import sys
import numpy as np                  # pandas uses numpy, and sometimes want to use numpy within pandas
import pandas as pd                    # data package, redundant since already did
import matplotlib.pyplot as plt               # graphics package
import seaborn as sns               # makes matplotlib prettier without issuing a single command!
import datetime as dt                  # date and time module, often need to use
import statsmodels.formula.api as smf

# check versions (overkill, but why not?)
print('Python version:', sys.version)
print('Pandas version: ', pd.__version__)

print(plt.style.available)
plt.style.use('fivethirtyeight')
%matplotlib inline

Python version: 3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]
Pandas version:  1.0.1
['bmh', 'classic', 'dark_background', 'fast', 'fivethirtyeight', 'ggplot', 'grayscale', 'seaborn-bright', 'seaborn-colorblind', 'seaborn-dark-palette', 'seaborn-dark', 'seaborn-darkgrid', 'seaborn-deep', 'seaborn-muted', 'seaborn-notebook', 'seaborn-paper', 'seaborn-pastel', 'seaborn-poster', 'seaborn-talk', 'seaborn-ticks', 'seaborn-white', 'seaborn-whitegrid', 'seaborn', 'Solarize_Light2', 'tableau-colorblind10', '_classic_test']

In [2]:
url='https://data.giss.nasa.gov/gistemp/tabledata_v4/ZonAnn.Ts+dSST.csv'
df_nasa=pd.read_csv(url)
df_nasa

,Year,Glob,NHem,SHem,24N-90N,24S-24N,90S-24S,64N-90N,44N-64N,24N-44N,EQU-24N,24S-EQU,44S-24S,64S-44S,90S-64S
0,1880,-0.16,-0.28,-0.04,-0.37,-0.12,-0.01,-0.80,-0.48,-0.28,-0.15,-0.09,-0.03,0.05,0.64
1,1881,-0.08,-0.17,0.01,-0.34,0.11,-0.07,-0.90,-0.44,-0.19,0.10,0.12,-0.05,-0.07,0.56
2,1882,-0.10,-0.20,-0.01,-0.30,-0.04,0.01,-1.40,-0.26,-0.13,-0.05,-0.03,0.02,0.04,0.59
3,1883,-0.16,-0.27,-0.06,-0.33,-0.16,-0.01,-0.18,-0.54,-0.23,-0.17,-0.14,-0.03,0.07,0.47
4,1884,-0.28,-0.42,-0.14,-0.60,-0.14,-0.14,-1.28,-0.64,-0.45,-0.13,-0.15,-0.19,-0.02,0.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,2015,0.90,1.18,0.63,1.31,0.96,0.40,2.00,1.47,0.99,0.98,0.95,0.75,0.18,-0.35
136,2016,1.02,1.31,0.73,1.55,1.02,0.49,3.25,1.43,1.07,0.96,1.07,0.67,0.26,0.37
137,2017,0.92,1.18,0.67,1.39,0.82,0.59,2.52,1.37,1.04,0.87,0.78,0.76,0.35,0.53
138,2018,0.85,1.04,0.66,1.25,0.68,0.68,2.17,1.09,1.06,0.73,0.64,0.80,0.37,0.94
139,2019,0.98,1.21,0.75,1.42,0.91,0.64,2.71,1.44,0.99,0.91,0.90,0.75,0.39,0.84

In [6]:
dfworld=df_nasa.loc[:,['Year','Glob']]
print(dfworld)

     Year  Glob
0    1880 -0.16
1    1881 -0.08
2    1882 -0.10
3    1883 -0.16
4    1884 -0.28
..    ...   ...
135  2015  0.90
136  2016  1.02
137  2017  0.92
138  2018  0.85
139  2019  0.98

[140 rows x 2 columns]

In [8]:
dfworld['time_group'] = np.where(dfworld['Year'] >1984,1,0)
print(dfworld)

     Year  Glob  time_group
0    1880 -0.16           0
1    1881 -0.08           0
2    1882 -0.10           0
3    1883 -0.16           0
4    1884 -0.28           0
..    ...   ...         ...
135  2015  0.90           1
136  2016  1.02           1
137  2017  0.92           1
138  2018  0.85           1
139  2019  0.98           1

[140 rows x 3 columns]

In [12]:
bin_vals=list(np.arange(-0.5,1.1,0.05))
print(len(bin_vals))
bin_vals

32

[-0.5,
 -0.45,
 -0.4,
 -0.35000000000000003,
 -0.30000000000000004,
 -0.25000000000000006,
 -0.20000000000000007,
 -0.15000000000000008,
 -0.10000000000000009,
 -0.0500000000000001,
 -1.1102230246251565e-16,
 0.04999999999999982,
 0.09999999999999987,
 0.1499999999999999,
 0.19999999999999984,
 0.24999999999999978,
 0.2999999999999998,
 0.34999999999999987,
 0.3999999999999998,
 0.44999999999999973,
 0.4999999999999998,
 0.5499999999999998,
 0.5999999999999996,
 0.6499999999999997,
 0.6999999999999997,
 0.7499999999999998,
 0.7999999999999998,
 0.8499999999999996,
 0.8999999999999997,
 0.9499999999999997,
 0.9999999999999996,
 1.0499999999999996]

In [13]:
dfworld['buckets']=pd.cut(dfworld['Glob'], bins = bin_vals,include_lowest=True)
dfworld.head(10)
print(dfworld.sort_values('Glob'))

     Year  Glob  time_group          buckets
29   1909 -0.49           0  (-0.501, -0.45]
24   1904 -0.46           0  (-0.501, -0.45]
37   1917 -0.46           0  (-0.501, -0.45]
31   1911 -0.44           0    (-0.45, -0.4]
30   1910 -0.43           0    (-0.45, -0.4]
..    ...   ...         ...              ...
138  2018  0.85           1      (0.85, 0.9]
135  2015  0.90           1      (0.9, 0.95]
137  2017  0.92           1      (0.9, 0.95]
139  2019  0.98           1      (0.95, 1.0]
136  2016  1.02           1      (1.0, 1.05]

[140 rows x 4 columns]

In [15]:
dfworld['Glob'].quantile([0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1])

0.0   -0.490
0.1   -0.322
0.2   -0.260
0.3   -0.160
0.4   -0.110
0.5   -0.070
0.6    0.044
0.7    0.160
0.8    0.322
0.9    0.621
1.0    1.020
Name: Glob, dtype: float64

In [16]:
def f(dfworld):
    if dfworld['Glob'] >=  0.322:
        val = "Hot"
    elif dfworld['Glob'] <=  -0.160:
        val = "Cold"
    else:
        val = "Normal"
    return val

In [18]:
dfworld['Hot_or_Cold'] = dfworld.apply(f, axis=1)

In [19]:
dfworld1 = dfworld[dfworld.time_group == 1]
dfworld1

     Year  Glob  time_group      buckets Hot_or_Cold
105  1985  0.12           1  (0.1, 0.15]      Normal
106  1986  0.18           1  (0.15, 0.2]      Normal
107  1987  0.32           1  (0.3, 0.35]      Normal
108  1988  0.38           1  (0.35, 0.4]         Hot
109  1989  0.27           1  (0.25, 0.3]      Normal
110  1990  0.45           1  (0.45, 0.5]         Hot
111  1991  0.40           1  (0.4, 0.45]         Hot
112  1992  0.22           1  (0.2, 0.25]      Normal
113  1993  0.23           1  (0.2, 0.25]      Normal
114  1994  0.31           1  (0.3, 0.35]      Normal
115  1995  0.45           1  (0.45, 0.5]         Hot
116  1996  0.33           1  (0.3, 0.35]         Hot
117  1997  0.46           1  (0.45, 0.5]         Hot
118  1998  0.61           1  (0.6, 0.65]         Hot
119  1999  0.39           1  (0.35, 0.4]         Hot
120  2000  0.40           1  (0.4, 0.45]         Hot
121  2001  0.54           1  (0.5, 0.55]         Hot
122  2002  0.63           1  (0.6, 0.65]         Hot
123  2003  0.62           1  (0.6, 0.65]         Hot
124  2004  0.54           1  (0.5, 0.55]         Hot
125  2005  0.68           1  (0.65, 0.7]         Hot
126  2006  0.64           1  (0.6, 0.65]         Hot
127  2007  0.66           1  (0.65, 0.7]         Hot
128  2008  0.54           1  (0.5, 0.55]         Hot
129  2009  0.66           1  (0.65, 0.7]         Hot
130  2010  0.72           1  (0.7, 0.75]         Hot
131  2011  0.61           1  (0.6, 0.65]         Hot
132  2012  0.64           1  (0.6, 0.65]         Hot
133  2013  0.68           1  (0.65, 0.7]         Hot
134  2014  0.75           1  (0.75, 0.8]         Hot
135  2015  0.90           1  (0.9, 0.95]         Hot
136  2016  1.02           1  (1.0, 1.05]         Hot
137  2017  0.92           1  (0.9, 0.95]         Hot
138  2018  0.85           1  (0.85, 0.9]         Hot
139  2019  0.98           1  (0.95, 1.0]         Hot

In [20]:
total_hot = len(dfworld1[dfworld1['Hot_or_Cold'] == 'Hot'])
total_year = len(dfworld1)
total_hot/total_year

0.8

In [21]:
total_hot

28

In [22]:
total_year

35